//VARIABLES
$color-primary: #55c57a; //GREEN
$color-primary-light: #7ed56f; //LIGHT GREEN
$color-primary-dark: #28b485; //DARK GREEN
$color-grey-dark: #777;
$color-white: #fff;
$color-black:


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 1rem is 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* changed to REM which is based off of ROOT  */
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  box-sizing: border-box;

}

.header {
  height: 95vh;
  background-image:
   linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    /* to use opacity color must be in RGBA format. A is opacity */
    rgba($color-primary-dark, 0.8)),
   url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
  /* http://bennettfeely.com/clippy/ for pre set polygons*/

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* determines if backface of element is hidden or visible. fixes some shaky-ness in animations */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
  }

  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    /* transform: rotate(180deg); */

    animation: moveInRight 3s ease-out;
    /* animation will figure out name, duration, timing-function on its own */

  }
}



/* @keyframes moveInLeft{ === function moveInLeft(){ */
@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    opacity: .8;
    transform: translateX(.3rem)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(10rem) rotate(0deg);
  }
  80%{
    opacity: .8;
    transform: translateX(-.3rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(20rem) rotate(0deg);
  }
  80%{
    opacity: .8;
    transform: translateY(-.3rem);
  }
  100%{
    /* opacity: 1; */
    transform: translateY(0);
  }
}

&{
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    /* if you declare only two values in padding, the first is top/bottom the second is left/right */
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &:hover{
    transform: translateY(-.3rem);
    /* x, y, blur, color */
    box-shadow: .3rem .5rem 1rem rgba(0, 0, 0, 0.2);

    &::after{
      transform: scaleX(1.07) scaleY(1.06);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(.1rem);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $%$color-white;
    }

  }

  &::after{
    /* content and display MUST be set, even if set to "" */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
  }

  &--animated {
    animation: moveInBottom 2.6s ease-out;
    animation-fill-mode: backwards;
    /* automatically applies the 0% values of the animation before the animation starts */
  }
}
