.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -30rem;
  margin-bottom: -30vh;
}

.section-features {
  padding: 20rem 0;
  background-image:
   linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    /* to use opacity color must be in RGBA format. A is opacity */
    rgba($color-primary-dark, 0.8)),
   url(../../starter/img/nat-4.jpg);
   background-size: cover;
   clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
   margin-top: -30rem;

   // // ALTERNATIVE WAY TO SKEW BACKGROUND IMAGE
   // transform: skewY(-7deg);
   // // SELECTS ONLY FIRST CHILD ELEMENT
   // & > * {
   //  transform: skewY(7deg);
   // }

}

.section-tours {
  background-color: $color-grey-light;
  padding: 25rem 0 15rem 0;
  margin-top: -30rem;
}
