body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* determines if backface of element is hidden or visible. fixes some shaky-ness in animations */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */
  }

  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.8rem;
    /* transform: rotate(180deg); */

    animation: moveInRight 3s ease-out;
    /* animation will figure out name, duration, timing-function on its own */
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
    // transform: skewY(-2deg) skewX(15deg);
    transform: scale(1.03) translateY(.2rem) translateX(.2rem);
    text-shadow: .5rem 1rem 2rem rgba(121, 121, 121, 0.3); // x y blur color/opacity  
  }
}

.heading-teriary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
