//Colors
$color-primary: #55c57a; //GREEN
$color-primary-light: #7ed56f; //LIGHT GREEN
$color-primary-dark: #28b485; //DARK GREEN
$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 6rem;

//Font
$default-font-size: 1.6rem;
